body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#696969;
}
.container{
  width:80%;
  height: auto;
  margin:auto;
  overflow:hidden;
}
/* header*/
header .current a{
  color:#FFD700;
  font-weight:bolder;
}

header{
  background-color: #202020;
  border-bottom:#FFD700 6px solid;
  border-top: #FFD700 1px solid;
  color:#ffffff;
  padding-top:20px; 
  min-height:60px;
  
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
 
}
header li{
  float:left;
  display:inline;
  padding: 0 10px 0 10px;
  font-size:20px;


}
header .topnav{
  float: right;
  margin-top:10px;

}


header #head h3{
  margin:0;
  display:inline;
 font-size:20px;

}
header a:hover{
  color:#FFD700;
  font-weight:bold;
}


#BackgroundPicture{
  text-align:center;
  color:#ffffff;
 width: 100%;
 height:450px;
 background-size: cover;
 position: relative;
    overflow: hidden;
    border-bottom:#FFD700 6px solid;
}

#ProfilePic {
position: absolute;
 margin-top: -12%;
 margin-left: 43%;   
  height: 200px;
  width: 200px;

}
/* header*/



/*Portfolio*/


.content {
  margin: 5px;
  border: 2px solid #ccc;
  float: left;
  width: 600px;
  margin-left: 45px;
}
.content:hover {
  border: 2px solid #FFD700;

}
.content img {
  width: 100%;
  height: auto;
}

div.content p, h3 {
  color: white;
  padding: 15px;
  text-align: center;

}
/*index content*/
/*info*/
#Info2{
  text-align: center;
  color:#ffd11a;
  float: center;
  margin-top: 0%;

  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: Arial;
  font-variant:small-caps;
}
#Info3{
  background:#ffd11a;
  float: center;
  padding: 5px;
}
#highlight{
   font-size: 27px;
  font-style: normal;
}




/*laad p*/
.leadP{
  
  text-align: center;
  margin-top: 15px;
  padding:1.5px;
  border-bottom: #665200 6px solid;
  color:black;
  background:#ffd11a;
 
}

#lead1{
 font-weight:bolder;
 letter-spacing: 2px;
  font-size: 20px
}
#lead2{
  font-style: italic;
  font-size: 18px
}

/*list info*/
.Information{
  list-style: none;
  margin-left: 50px;
  float:left;
}
.Information li {
  padding: 0 0 1px 0;
  margin-bottom: 2px;
}
.Information li strong {

  color:black;
  letter-spacing: .5px;
  font-size: 20px;
  

  }
.Information li span {
  display: block;
margin-left: 10px;
  color:white;
  font-size: 15px;
 
}



/*skills*/

#skills{
  float: right;
  margin-top: -22%;
  margin-right: 45%;
}



.skillscontainer{
  width: 500%; 
  background-color: #ebebe0;

}

.skillscontainer:hover {
  border: 2px solid #ffd11a;

}
.skills {
  text-align: right;
  font-weight: bold;
  padding-top: 1px; 
  padding-bottom: 1px; 
  color: black; 
}

.html {width: 60%; background-color: #ff3300;} /* Green */
.css {width: 60%; background-color: #0000ff;} /* Blue */
.ps {width: 80%; background-color: #66c2ff;} /* Red */
.pr {width: 70%; background-color: #6b00b3;} /* Dark Grey */

#skills p{
font-size: 15px;
font-weight: bolder;
color: white;
}



footer{
  padding:15px;
  color:black;
  text-align: center;
    clear: both;
    position: relative;
    margin-top: 20px;
}